html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

::after,
::before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  background-color: $main-bg;
  color: $white;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  @include adaptiv-font(77, 48);
}

p {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

.container {
  max-width: 1072px;
  margin: 0 auto;
  padding: 0 16px;
}
.icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
