$breakpoint-xs: 320; // by default
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin for-small-up {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin for-medium-up {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}
@mixin for-large-up {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin for-extra-large-up {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
  line-height: 1.22;
}
@mixin adaptiv-side-padding($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  padding: 0 calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
