$accent: #ff3459;
$blue: #4252d1;
$mobile-call-action-btn: #0048ff;

$main-bg: #242731;
$form-bg: #303a53;
$input-bg: #272d3d;

$white: #fff;
$main-text: $white;
$placeholder-text: #d7d7d7;
$light-text: rgba(255, 255, 255, 0.5);

$gradient: #332f65;
$event-info-bg: $gradient;
