// benefits starts

.benefits {
  display: flex;
  flex-direction: column;
  grid-row: 3 / auto;
  grid-column: 1;
  justify-self: center;
  max-width: 224px;
  width: 100%;
  padding: 36px 0;
  @include for-small-up {
    grid-column: 1;
    flex-direction: row;
    max-width: none;
  }

  @include for-large-up {
    grid-row: 2 / auto;
    grid-column: 1;
    flex-direction: column;
    max-width: none;
    padding: 0;
    justify-self: flex-start;
  }
}

.present {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  @include for-small-up {
    justify-content: center;
    width: 100%;
  }
  @include for-large-up {
    justify-content: flex-start;
    margin-bottom: 0;
    order: 2;
  }
  &__info {
    flex-basis: 162px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    @include for-large-up {
      flex-basis: 210px;
      width: 100%;
    }
  }
  &__benefit {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    @include for-large-up {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
.bonus-icon {
  width: 46px;
  height: 46px;
  margin-right: 16px;
  background-image: url('../images/present.png');
}

.author {
  display: flex;
  align-items: center;
  @include for-small-up {
    justify-content: center;
    width: 100%;
  }
  @include for-large-up {
    justify-content: flex-start;
    margin-bottom: 16px;
    order: 1;
  }
  &__info {
    flex-basis: 162px;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    @include for-large-up {
      flex-basis: 320px;
    }
  }
  &__name {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    @include for-large-up {
      font-size: 13px;
      line-height: 16px;
    }
  }
  &__name--accent {
    color: $blue;
  }
}
.author-icon {
  width: 51px;
  height: 49px;
  margin-right: 12px;
  background-image: url('../images/author.png');
}

// benefits ends
