.header {
  display: flex;
  height: 80px;
  @include for-large-up {
    height: 100px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1072px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    @include for-large-up {
      padding: 0 56px;
    }
    @include for-full-screen {
      max-width: 1272px;
    }
  }
}

.svg-logo-dims {
  width: 101px;
  height: 32px;
  @include for-large-up {
    width: 182px;
    height: 56px;
  }
}

.event-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 6px;
  @include for-large-up {
    gap: 18px;
  }
}

.event-date,
.event-timeleft {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 4px;
  font-weight: 600;
  font-size: 11px;
  line-height: 8px;
  background-color: $event-info-bg;
  border-radius: 4px;
  @include for-large-up {
    height: 40px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 10px;
  }
}
.event-date {
  width: 88px;
  @include for-large-up {
    width: 141px;
  }
}
.event-timeleft {
  width: 84px;
  @include for-large-up {
    width: 141px;
  }
}

.calandar-icon,
.clock-icon {
  width: 13px;
  height: 13px;
  margin-right: 4px;
  background-image: url('../images/sprite.svg#calendar_today');
  @include for-large-up {
    width: 15px;
    height: 15px;
    margin-right: 6px;
  }
}
.calandar-icon {
  background-image: url('../images/sprite.svg#calendar_today');
}

.clock-icon {
  background-image: url('../images/sprite.svg#gg_time');
}

.svg-calendar_today-dims,
.svg-gg_time-dims {
  width: 13px;
  height: 13px;
}
