.webinar-page {
  position: relative;
  flex-grow: 1;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  &::after {
    position: absolute;
    content: '';
    bottom: -50%;
    right: 0;
    display: none;
    background: $gradient;
    filter: blur(250px);
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-filter: blur(250px);
    -webkit-backface-visibility: hidden; /* Добавляем префикс "-webkit-" для свойства backface-visibility */
    backface-visibility: hidden; /* Стандартное свойство backface-visibility */
    -webkit-transform: translateZ(0); /* Добавляем префикс "-webkit-" для свойства transform */
    transform: translateZ(0); /* Стандартное свойство transform */
    @include for-large-up {
      display: inline-block;
      left: 70%;
      bottom: 40%;
      height: 100%;
      opacity: 0.8;
    }
  }
  &::before {
    position: absolute;
    content: '';
    bottom: 63%;
    right: 80%;
    background: $gradient;
    width: 50%;
    height: 50%;
    opacity: 0;
    filter: blur(103.131px);
    z-index: -1;
    @include for-large-up {
      opacity: 0.5;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include for-large-up {
    height: calc(100vh - 100px);
    justify-content: center;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  @include adaptiv-side-padding(56, 16);
  @include for-small-up {
    max-width: 606px;
  }
  @include for-medium-up {
    max-width: 806px;
  }
  @include for-large-up {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1072px;
  }
}
