<div class="benefits">
  <div class="present">
    <i class="icon bonus-icon"></i>
    <p class="present__info">
      <span class="present__benefit">Бонус за регистрацию</span>
      PDF-файл "5 преимуществ профессии веб-дизайнера"
    </p>
  </div>
  <div class="author">
    <i class="icon author-icon"></i>
    <p class="author__info">
      <span class="author__name">кирилл <span class="author__name--accent">касатонов</span></span>
      6 лет коммерческого опыта с такими компаниями как Mercedes-Benz и другими крупными
      корпорациями
    </p>
  </div>
</div>
