<div class="decor-block">
  <div class="decor-block__item decor-block__item--html">
    <i class="icon decor-block__icon decor-block__icon--html"></i>
  </div>
  <div class="decor-block__item decor-block__item--css">
    <i class="icon decor-block__icon decor-block__icon--css"></i>
  </div>
  <div class="decor-block__item decor-block__item--js">
    <i class="icon decor-block__icon decor-block__icon--js"></i>
  </div>
  <div class="decor-block__item decor-block__item--sublime">
    <i class="icon decor-block__icon decor-block__icon--sublime"></i>
  </div>
  <div class="decor-block__item decor-block__item--vscode">
    <i class="icon decor-block__icon decor-block__icon--vscode"></i>
  </div>
</div>
