<div class="form-wrapper">
  <form class="form webinar-form" id="myWebinarForm">
    <h2 class="form__title">
      Запишитесь <span class="form--accent">бесплатно</span> и получите подарок
    </h2>
    <input class="form__input" type="text" id="name" placeholder="Ваше имя и фамилия" />
    <input class="form__input" type="tel" id="phoneNumber" placeholder="Ваш номер телефона" />
    <input class="form__input" type="email" id="email" placeholder="Ваш email" />
    <button class="form-button" type="submit">Записаться бесплатно</button>
    <span class="policy"
      >Нажимая на кнопку я согашаюсь с
      <a class="policy__link" href="#" target="_blank">политикой конфидециальности</a></span
    >
  </form>
</div>
