<div class="form-wrapper">
  <form class="form webinar-form" id="myWebinarForm" name="myWebinarForm">
    <h2 class="form__title">
      Запишитесь <span class="form--accent">бесплатно</span> и получите подарок
    </h2>
    <div class="form__input-row">
      <input
        class="form__input"
        type="text"
        id="name"
        name="name"
        placeholder="Ваше имя и фамилия"
        required
      />
      <lable class="error-message" id="nameError" for="name"></lable>
    </div>
    <div class="form__input-row">
      <input
        class="form__input"
        type="tel"
        id="phoneNumber"
        name="phoneNumber"
        placeholder="Ваш номер телефона"
        required
      />
      <lable class="error-message" id="phoneError" for="phoneNumber"></lable>
    </div>
    <div class="form__input-row">
      <input
        class="form__input"
        type="email"
        id="email"
        name="email"
        placeholder="Ваш email"
        required
      />
      <lable class="error-message" id="emailError" for="email"></lable>
    </div>
    <!-- <input
      class="form__input"
      type="text"
      id="name"
      name="name"
      placeholder="Ваше имя и фамилия"
      required
    /> -->
    <!-- <input
      class="form__input"
      type="tel"
      id="phoneNumber"
      name="phoneNumber"
      placeholder="Ваш номер телефона"
      required
    /> -->
    <!-- <input
      class="form__input"
      type="email"
      id="email"
      name="email"
      placeholder="Ваш email"
      required
    /> -->
    <button class="form-button" type="submit">Записаться бесплатно</button>
    <span class="policy"
      >Нажимая на кнопку я согашаюсь с
      <a class="policy__link" href="#" target="_blank">политикой конфидециальности</a></span
    >
  </form>
</div>
