<div class="form-wrapper">
  <form
    class="form webinar-form"
    id="myWebinarForm"
    name="myWebinarForm"
    action="send_mail.php"
    method="POST"
  >
    <h2 class="form__title">
      Запишитесь <span class="form--accent">бесплатно</span> и получите подарок
    </h2>
    <div class="form__input-row">
      <input
        class="form__input"
        type="text"
        id="name"
        name="name"
        placeholder="Ваше имя и фамилия"
        required
      />
      <label class="error-message" id="nameError" for="name"></label>
    </div>
    <div class="form__input-row">
      <input
        class="form__input"
        type="tel"
        id="phoneNumber"
        name="phoneNumber"
        placeholder="Ваш номер телефона"
        required
      />
      <label class="error-message" id="phoneError" for="phoneNumber"></label>
    </div>
    <div class="form__input-row">
      <input
        class="form__input"
        type="email"
        id="email"
        name="email"
        placeholder="Ваш email"
        required
      />
      <label class="error-message" id="emailError" for="email"></label>
    </div>
    <button class="form-button custom-btn" type="submit">Записаться бесплатно</button>
    <span class="policy"
      >Нажимая на кнопку я согашаюсь с
      <a class="policy__link" href="#" target="_blank">политикой конфидециальности</a></span
    >
  </form>
</div>
