<header class="header">
  <div class="header__content">
    <a class="logo" href="#">
      <img src="images/sprite.svg#logo" class="svg-logo-dims" alt="logo" />
    </a>
    <div class="event-info">
      <div class="event-date">
        <i class="icon calandar-icon"></i>
        <span class="event-date__text">28 декабря</span>
      </div>
      <div class="event-timeleft">
        <i class="icon clock-icon"></i>
        <span class="event-timeleft__text">3,5 часа</span>
      </div>
    </div>
  </div>
</header>
